/*   colors: {
    red: '#EA4335',
    redLight: '#ee6459',
    blue: '#4285F4',
    blueLight: '#5591f5',
    yellow: '#FBBC04',
    yellowLight: '#fcd151',
    green: '#0F9D58',
    greenLight: '#11b465',
    blueExtraLight: '#e9f1fe',
    lightGrey: '#eee',
  } */
body {
  color: #555555;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0; }
body h1 {
  font-size: 1.6em;
  font-family: "Product Sans", Helvetica, Arial, sans-serif; }
body h2 {
  font-size: 1.4em;
  font-family: "Product Sans", Helvetica, Arial, sans-serif; }
main { margin-top: 69px }
p.lead {
  font-size: 1.5em;
}
img { max-width: 100%; }
.logo {
  position: relative;
  top: 2px;
  width: 40px;}
.PageTitle {
  font-family: 'Product Sans', sans-serif;
  margin-left: 20px;
  text-align: center;}
.PageTitle#title { font-size: 1.7em; }
.break-590 { display: inline; }
@media screen and (min-width: 380px) {
  .PageTitle#title { font-size: 2em; }
  .logo { top: 4px; width: 60px; }
}
@media screen and (min-width:485px) {
  .PageTitle#title { font-size: 2.5em; }
  .logo { top: 9px; width: 90px; }
}
@media screen and (min-width:590px) {
  .break-590 {display: none;}
  .PageTitle#title { font-size: 3em; }
  .logo { top: 11px; width: 120px; }
}

/* Person Card */
.ProfileImage {
  border: 8px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px; }
.SocialLink { margin-right: 12px;}
.SocialLink img { width: 24px;}
.SocialLink img:hover { filter: opacity(80%); }

/* Anchor Buttons */
.AnchorButton__StyledButton {
  padding: 0.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none; }
.AnchorButton__StyledButton:hover { filter: opacity(90%); }
.BlueWhite {
  background-color: #4285F4;
  color: white;}
.WhiteGreen {
  background-color: white;
  color: #0F9D58; }
.WhiteBlue {
  background-color: white;
  color: #4285F4; }
.RedWhite {
  background-color: #EA4335;
  color: white; }
.WhiteRed {
  background-color: #FFFFFF;
  color: #EA4335; }

/* Buttons */
.StyledButton {
  border: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  outline: none; }
.StyledButton:hover { filter: opacity(90%); }

/* Anchors */
.StyledLink { color: white; }
.StyledLink:hover { color: #eee; }

/* Forms */
input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  width: 200px; }

/* sc-component-id: Layout__Main-sc-1cc85ax-0 */
.ecmTAC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;}

/* sc-component-id: PersonCard__StyledCard-vrc94i-0 */
.uLNyS {
  margin: 16px 0;
  padding: 16px;
  text-align: center;
  width: 272px; }
.uLNyS.card h1 {
  font-size: 1.6em;
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 0; }
.uLNyS.card h2 {
  font-size: 1.4em;}

/* sc-component-id: PersonList__StyledCardDeck-sc-9aegl2-0 */
.kgdiRQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.kgdiRQ img {
  border: 8px solid white;
}

.kgdiRQ svg {
  fill: white;
}

.kgdiRQ svg:hover {
  fill: #eee;
}

.kgdiRQ .card:nth-child(4n+1) svg {
  fill: #EA4335;
}

.kgdiRQ .card:nth-child(4n+1) svg:hover {
  fill: #ee6459;
}

.kgdiRQ .card:nth-child(4n+1) img {
  border: 8px solid #EA4335;
}

.kgdiRQ .card:nth-child(4n+2) svg {
  fill: #FBBC04;
}

.kgdiRQ .card:nth-child(4n+2) svg:hover {
  fill: #fcd151;
}

.kgdiRQ .card:nth-child(4n+2) img {
  border: 8px solid #FBBC04;
}

.kgdiRQ .card:nth-child(4n+3) svg {
  fill: #0F9D58;
}

.kgdiRQ .card:nth-child(4n+3) svg:hover {
  fill: #11b465;
}

.kgdiRQ .card:nth-child(4n+3) img {
  border: 8px solid #0F9D58;
}

.kgdiRQ .card:nth-child(4n+4) svg {
  fill: #4285F4;
}

.kgdiRQ .card:nth-child(4n+4) svg:hover {
  fill: #5591f5;
}

.kgdiRQ .card:nth-child(4n+4) img {
  border: 8px solid #4285F4;
}

.iWwcyz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.iWwcyz svg { fill: white; }
.iWwcyz svg:hover { fill: #eee; }

/* sc-component-id: OffsetHeading-sc-19ga90q-0 */
.nZYOL {
  margin-top: -90px;
  padding-top: 90px;
}

/* sc-component-id: Section__SectionContainer-sc-1gqzih2-0 */
.cJyhEs {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.ijkxOf {
  background-color: #0F9D58;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.effbIP {
  background-color: #4285F4;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.jLMzbu {
  background-color: #EA4335;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

/* sc-component-id: Section__InnerSection-sc-1gqzih2-1 */
.jSmFqX {
  max-width: 920px;
  margin: 4em 0;
  width: 92%;}
.jSmFqX h1 {
  font-size: 2em;
  margin-bottom: 30px;}
.jSmFqX p.cta { margin-top: 40px; }

/* sc-component-id: Sponsor__Image-d8ad2-0 */
.bNzFPp {
  margin: 32px;
  max-width: 80%;}

/* sc-component-id: Lead-sc-1uvl2r1-0 */
.lnVUaL {
  font-size: 1.2em;
  font-weight: 700;}

/* sc-component-id: Schedule__Article-nic6bg-0 */
.ecZsHl {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.ecZsHl a {
  color: white;
}

.ecZsHl a:hover {
  color: #eee;
}

/* sc-component-id: Schedule__Time-nic6bg-1 */
.gzElyA {
  font-size: 1.1em;
  margin: 16px 0 0 0;
}

/* sc-component-id: Schedule__Title-nic6bg-2 */
.kQfYMZ {
  font-size: 1.3em;
  margin: 16px 0 0 0;
}

/* sc-component-id: Schedule__Speaker-nic6bg-3 */
.hADFHE {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  margin: 8px 0 0 0;
}

/* sc-component-id: Schedule__SpeakerLink-nic6bg-4 */
.dyyvru {
  color: white;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.dyyvruhover {
  color: #eee;
}

/* sc-component-id: Emcee__StyledDiv-sc-1aa8fv6-0 */
.famXjq {
  text-align: center;
}

.famXjq h2 {
  font-size: 1.6em;
  margin-bottom: 0;
}

.famXjq h3 {
  font-size: 1.4em;
}

.famXjq img {
  border: 8px solid #4285F4;
}

.famXjq a {
  color: #4285F4;
}

.famXjq a:hover {
  color: #5591f5;
}

.famXjq svg {
  fill: #4285F4;
}

.famXjq svg:hover {
  fill: #5591f5;
}

/* Nav*/
.MobileNav__MobileNavLink{
  border-top:1px
  solid #e9f1fe;
  color:#4285F4;
  font-size:0.8em;
  font-weight:700;
  padding:1.5em 1.5em 1.5em 1em;
  -webkit-text-decoration:none;
  text-decoration:none;}
  .MobileNav__MobileNavLink:hover{background-color:#e9f1fe;color:#5591f5;}
  .MobileNav__MobileNavLink:focus{background-color:#e9f1fe;color:#5591f5;}
  .MobileNav__MobileNavLink:last-of-type{border-bottom:1px solid #e9f1fe;}
/* sc-component-id: MobileNav__MenuLink-sc-7sxiv9-1 */
.hGZJyp{
  background-color:#4285F4;
  border: none;
  color: white;
  /* cursor:pointer; */
  font-size:0.8em;
  font-weight:700;
  outline: none;
  padding: 0.5em;
  text-transform:uppercase;}
.hGZJyp:hover{ filter: opacity(90%); }
.hGZJyp:focus{ filter: opacity(90%); }
/* sc-component-id: MobileNav__MobileTopNav-sc-7sxiv9-3 */
.MvJxC{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:1em 1em 1em 0.5em;
  margin:0 auto;}

/* sc-component-id: MobileNav__NavMobileContainer-sc-7sxiv9-2 */
.iMDZiQ{position:relative;} @media (min-width:885px){.iMDZiQ{display:none;}}

/* sc-component-id: MobileNav__MobileLinks-sc-7sxiv9-4 */
.gHAoiq.is-visible{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;overflow:visible;-webkit-transition:-webkit-transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;-webkit-transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;} .gHAoiq.is-hidden{display:none;overflow:hidden;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);opacity:0;-webkit-transition:-webkit-transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;-webkit-transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;transition:transform .2s ease-in-out .1s,opacity .2s ease-in-out .2s;}
/* sc-component-id: Navbar__StyledLink-tt3gyf-0 */
.fAxCpI{color:#4285F4;font-weight:700;padding:1em;-webkit-text-decoration:none;text-decoration:none;} .fAxCpI:hover{color:#5591f5;}
/* sc-component-id: Navbar__Nav-tt3gyf-1 */
.brgVWy{background:rgba(255,255,255,0.97);position:fixed;top:0;width:100%;z-index:5;}
/* sc-component-id: Navbar__NavDesktopContainer-tt3gyf-2 */
.jANGEH{display:none;} @media (min-width:885px){.jANGEH{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin:0 auto;max-width:980px;padding:15px;}}
/* sc-component-id: Navbar__NavLinks-tt3gyf-3 */
.eZfvTj{margin-top:9px;}

