body {
  color: #555555;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0; }
body h1 {
  font-size: 1.6em;
  font-family: "Product Sans", Helvetica, Arial, sans-serif; }
body h2 {
  font-size: 1.4em;
  font-family: "Product Sans", Helvetica, Arial, sans-serif; }
.break-590 { display: inline; }
@media screen and (min-width:590px) { .break-590 {display: none;} }

/* Person Card */
.ProfileImage {
  border: 8px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px; }
.SocialLink { margin-right: 12px;}
.SocialLink img { width: 24px;}
.SocialLink img:hover { filter: opacity(80%); }

/* sc-component-id: AnchorButton__StyledButton-sc-1553czf-0 */
.iDfVNo {
  background-color: #4285F4;
  color: white;
  padding: 0.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none; }
.iDfVNo:hover { background-color: #5591f5; }
.HfAIM {
  background-color: #4285F4;
  color: white;
  padding: 0.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 0.75em; }
.HfAIM:hover { background-color: #5591f5; }
.hGEwuJ {
  background-color: white;
  color: #0F9D58;
  padding: 0.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none; }
.hGEwuJ:hover { background-color: #eee; }
.hOrpnL {
  background-color: #EA4335;
  color: white;
  padding: 0.5em 1em;
  -webkit-text-decoration: none;
  text-decoration: none; }
.hOrpnL:hover { background-color: #ee6459; }

/* sc-component-id: Layout__Main-sc-1cc85ax-0 */
.ecmTAC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;}

/* sc-component-id: PersonCard__StyledCard-vrc94i-0 */
.uLNyS {
  margin: 16px 0;
  padding: 16px;
  text-align: center;
  width: 272px; }
.uLNyS.card h1 {
  font-size: 1.6em;
  margin-top: -250px;
  padding-top: 250px;
  margin-bottom: 0; }
.uLNyS.card h2 {
  font-size: 1.4em;}

/* sc-component-id: PersonList__StyledCardDeck-sc-9aegl2-0 */
.kgdiRQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.kgdiRQ img {
  border: 8px solid white;
}

.kgdiRQ svg {
  fill: white;
}

.kgdiRQ svg:hover {
  fill: #eee;
}

.kgdiRQ .card:nth-child(4n+1) svg {
  fill: #EA4335;
}

.kgdiRQ .card:nth-child(4n+1) svg:hover {
  fill: #ee6459;
}

.kgdiRQ .card:nth-child(4n+1) img {
  border: 8px solid #EA4335;
}

.kgdiRQ .card:nth-child(4n+2) svg {
  fill: #FBBC04;
}

.kgdiRQ .card:nth-child(4n+2) svg:hover {
  fill: #fcd151;
}

.kgdiRQ .card:nth-child(4n+2) img {
  border: 8px solid #FBBC04;
}

.kgdiRQ .card:nth-child(4n+3) svg {
  fill: #0F9D58;
}

.kgdiRQ .card:nth-child(4n+3) svg:hover {
  fill: #11b465;
}

.kgdiRQ .card:nth-child(4n+3) img {
  border: 8px solid #0F9D58;
}

.kgdiRQ .card:nth-child(4n+4) svg {
  fill: #4285F4;
}

.kgdiRQ .card:nth-child(4n+4) svg:hover {
  fill: #5591f5;
}

.kgdiRQ .card:nth-child(4n+4) img {
  border: 8px solid #4285F4;
}

.iWwcyz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.iWwcyz svg { fill: white; }
.iWwcyz svg:hover { fill: #eee; }

/* sc-component-id: OffsetHeading-sc-19ga90q-0 */
.nZYOL {
  margin-top: -90px;
  padding-top: 90px;
}

/* sc-component-id: Section__SectionContainer-sc-1gqzih2-0 */
.cJyhEs {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.ijkxOf {
  background-color: #0F9D58;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.effbIP {
  background-color: #4285F4;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.jLMzbu {
  background-color: #EA4335;
  color: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

/* sc-component-id: Section__InnerSection-sc-1gqzih2-1 */
.jSmFqX {
  max-width: 920px;
  margin: 4em 0;
  width: 92%;}
.jSmFqX h1 {
  font-size: 2em;
  margin-bottom: 30px;}
.jSmFqX p.cta { margin-top: 40px; }

/* sc-component-id: Sponsor__Image-d8ad2-0 */
.bNzFPp {
  margin: 32px;
  max-width: 80%;}

/* sc-component-id: Lead-sc-1uvl2r1-0 */
.lnVUaL {
  font-size: 1.2em;
  font-weight: 700;}

/* sc-component-id: Anchor__StyledLink-sc-1vdaprr-0 */
.iHciEP { color: white; }
.iHciEP:hover { color: #eee; }

/* sc-component-id: Schedule__Article-nic6bg-0 */
.ecZsHl {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.ecZsHl a {
  color: white;
}

.ecZsHl a:hover {
  color: #eee;
}

/* sc-component-id: Schedule__Time-nic6bg-1 */
.gzElyA {
  font-size: 1.1em;
  margin: 16px 0 0 0;
}

/* sc-component-id: Schedule__Title-nic6bg-2 */
.kQfYMZ {
  font-size: 1.3em;
  margin: 16px 0 0 0;
}

/* sc-component-id: Schedule__Speaker-nic6bg-3 */
.hADFHE {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  margin: 8px 0 0 0;
}

/* sc-component-id: Schedule__SpeakerLink-nic6bg-4 */
.dyyvru {
  color: white;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.dyyvruhover {
  color: #eee;
}

/* sc-component-id: Emcee__StyledDiv-sc-1aa8fv6-0 */
.famXjq {
  text-align: center;
}

.famXjq h2 {
  font-size: 1.6em;
  margin-bottom: 0;
}

.famXjq h3 {
  font-size: 1.4em;
}

.famXjq img {
  border: 8px solid #4285F4;
}

.famXjq a {
  color: #4285F4;
}

.famXjq a:hover {
  color: #5591f5;
}

.famXjq svg {
  fill: #4285F4;
}

.famXjq svg:hover {
  fill: #5591f5;
}

/* sc-component-id: Tito-ulkgqu-0 */
.bLsiyh */ * {
  box-sizing: border-box;
}

.bLsiyh .tito-wrapper {
  border: 1px solid #ccc;
  background: white;
  color: #333;
  margin: 20px auto;
  padding: 10px 0 0 0;
  width: 100%;
}

.bLsiyh .tito-ticket-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bLsiyh #tito-previous-releases,
.bLsiyh .tito-ticket-list.tito-ticket-waitlist {
  margin: 0;
}

.bLsiyh .tito-ticket.row {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
  min-height: 54px;
  padding: 10px 0;
}

.bLsiyh .tito-ticket:after {
  content: '';
  display: table;
  clear: both;
}

.bLsiyh .tito-ticket-name-wrapper,
.bLsiyh .tito-ticket-price-quantity-wrapper {
  border: none;
  display: block;
  float: left;
  width: 100%;
}

@media screen and (min-width:520px) {

  .bLsiyh .tito-ticket-name-wrapper,
  .bLsiyh .tito-ticket-price-quantity-wrapper {
    width: 50%;
  }
}

.bLsiyh .tito-ticket-name {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  margin: 8px 0 5px;
}

.bLsiyh .tito-ticket-name .label.label-default {
  border: 1px solid #333;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  padding: 2px 5px;
  position: relative;
  top: -1px;
  text-transform: uppercase;
}

.bLsiyh .tito-ticket-name-wrapper .tito-tickets-remaining {
  background: #ddd;
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: #333;
  font-size: 10px;
  padding: 2px 5px;
  position: relative;
  top: -3px;
  margin-left: 10px;
  white-space: nowrap;
}

.bLsiyh .tito-ticket-description {
  color: #adadad;
  font-size: 12px;
}

.bLsiyh .tito-degressive-price-desc+.tito-ticket-description {
  margin-top: .5rem;
}

.bLsiyh .tito-ticket-price-quantity {
  text-align: right;
  width: auto;
}

@media screen and (min-width:520px) {
  .bLsiyh .tito-ticket-price-quantity {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.bLsiyh .tito-ticket-price {
  float: left;
  text-align: left;
  width: 50%;
}

@media screen and (min-width:520px) {
  .bLsiyh .tito-ticket-price {
    text-align: right;
    width: auto;
  }
}

.bLsiyh .tito-ticket-quantity {
  float: right;
  min-width: 70px;
}

.bLsiyh .tito-ticket-quantity span {
  margin: 0 10px;
}

.bLsiyh input[type=text].tito-ticket-quantity-field,
.bLsiyh input[type=text].tito-ticket-donation-field {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333;
  display: inline-block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin: 0;
  padding: 6px 12px;
  text-align: center;
}

.bLsiyh input[type=text].tito-ticket-quantity-field {
  width: 45px;
}

.bLsiyh input[type=text].tito-ticket-donation-field {
  width: 85px;
  margin-left: 6px;
}

.bLsiyh .tito-ticket-price span {
  display: block;
  font-size: 16px;
  line-height: 34px;
}

.bLsiyh .tito-ticket-vat {
  color: #adadad;
  font-size: 10px;
  padding-bottom: 5px;
}

.bLsiyh .tito-ticket-status span {
  background: #efefef;
  color: #adadad;
  display: inline-block;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  min-width: 90px;
  padding: 0 10px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 100%;
}

.bLsiyh .btn.btn-default.btn-waitlist {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  white-space: nowrap;
  width: 200px;
}

.bLsiyh .btn.btn-default.btn-waitlist:hover {
  border: 1px solid #333;
}

.bLsiyh .tito-discount-code {
  display: block;
  margin: 0 30px;
  padding: 5px 0;
}

@media screen and (min-width:520px) {
  .bLsiyh .tito-discount-code {
    float: left;
  }
}

.bLsiyh .tito-discount-code-label {
  display: none;
}

.bLsiyh .btn.btn-default.tito-discount-apply-button {
  display: none;
}

.bLsiyh .tito-discount-code .tab-pane.tito-discount-code-show.active {
  display: none;
}

.bLsiyh .tito-discount-code .tab-pane.tito-discount-code-edit {
  display: block;
  visibility: visible;
}

.bLsiyh input.form-control.tito-discount-code-field.discount-code-field {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin: 5px 0;
  padding: 6px 12px;
  width: 100%;
}

@media screen and (min-width:520px) {
  .bLsiyh input.form-control.tito-discount-code-field.discount-code-field {
    width: 200px;
  }
}

.bLsiyh .tito-discount-code-show {
  padding-top: 15px;
}

.bLsiyh .tito-discount-code-edit,
.bLsiyh .tito-discount-code-show {
  display: none;
}

.bLsiyh .tito-discount-code-edit.active,
.bLsiyh .tito-discount-code-show.active {
  display: inline-block;
}

.bLsiyh .tito-submit-wrapper {
  margin: 0 15px;
  padding: 10px 0;
  text-align: right;
}

.bLsiyh .tito-submit {
  background: #0F9D58;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin: 0;
  padding: 6px 12px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width:520px) {
  .bLsiyh .tito-submit {
    width: 100px;
  }
}

.bLsiyh .tito-submit:hover {
  background: #11b465;
}

.bLsiyh .tito-ticket.tito-locked-ticket>div {
  padding: 10px 0;
}

.bLsiyh .tito-ticket.tito-locked-ticket label,
.bLsiyh .tito-ticket.tito-locked-ticket span {
  opacity: .5;
}

.bLsiyh .locked-tickets-message p {
  font-size: 14px;
  line-height: 1.3;
  opacity: .5;
}

.bLsiyh .tito-badge-link {
  font-size: 12px;
  display: inline-block;
  margin: 15px 0 5px;
  text-align: center;
  width: 100%;
}

.bLsiyh .tito-badge-link a {
  color: #0F9D58;
}

.bLsiyh .tito-badge-link a:hover {
  color: #11b465;
}

/* sc-component-id: pages__Title-sc-1qq5ej1-0 */
.iLrEmP {
  font-family: 'Product Sans', sans-serif;
  margin-left: 20px;
  text-align: center;
}

.iLrEmP#title {
  font-size: 3em;
}
